.icon-DIP {
    background-image: url('smPointBlackDownSolid.gif') !important;
    background-repeat: no-repeat;
}
.actRow{
    background-color: coral !important;
}
.icon-PAC {
    background-image: url('Pac.png') !important;
    width: 30px !important;
    height: 40px !important;
    background-repeat: no-repeat;
}
.icon-PACDEL {
    background-image: url('PacDel.png') !important;
        width: 30px !important;
    height: 40px !important;
    background-repeat: no-repeat;
}
.icon-PACNEW {
    background-image: url('PacNew.png') !important;
        width: 30px !important;
    height: 40px !important;
    background-repeat: no-repeat;
}
.icon-PICDEL {
    background-image: url('PicDel.png') !important;
        width: 30px !important;
    height: 40px !important;
    background-repeat: no-repeat;
}
.icon-PIC {
    background-image: url('Pic.png') !important;
        width: 30px !important;
    height: 40px !important;
    background-repeat: no-repeat;
}